<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Configure the Sentry appender -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender"> 
    <!-- debug <appender name="Sentry" class="ch.qos.logback.core.ConsoleAppender">
            <layout>
                <pattern> Sentry -> %msg%n</pattern>
        </layout> -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Debug our stuff to the console, (default WARN for everything else) -->
    <logger name="com.greenasjade.godojo" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="Sentry"/>   <!-- This will get filtered down to INFO for Sentry by it's filter -->
    </logger>

    <!-- and get rid of Neo warnings to Sentry for now, until we can fix them - have them only in the console -->

    <logger name="org.springframework.data.neo4j" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Get rid of annoying Spring DEBUG embedded in Auth -->
    <logger name="com.greenasjade.godojo.APIKeyAuthFilter" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="Sentry"/>
    </logger>

    <!-- Enable the Console and Sentry appenders, default WARN (so Sentry doesn't get all that Spring INFO)-->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="Sentry" />
    </root>
</configuration>