<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- Configure the Sentry appender : WARN or higher only -->
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
    <!-- debug <appender name="Sentry" class="ch.qos.logback.core.ConsoleAppender">
            <layout>
                <pattern> Sentry -> %msg%n</pattern>
        </layout> -->

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <!-- Configure the Greylog appender : INFO or higher, not debug -->
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>graylog.online-go.com </graylogHost>
        <graylogPort>39283</graylogPort>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <staticField>server:godojo</staticField>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Turn on Debug for our stuff (appenders have to filter this if they don't want it, above) -->
    <logger name="com.greenasjade.godojo" level="DEBUG" additivity="FALSE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="GELF"/>
        <appender-ref ref="Sentry"/>
    </logger>

    <!-- direct Neo INFO to the Console only for now, because they contain irrelevant warnings that should not be logged -->
    <logger name="org.springframework.data.neo4j" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Get rid of annoying Spring DEBUG embedded in Auth in our stuff -->
    <logger name="com.greenasjade.godojo.APIKeyAuthFilter" level="WARN" additivity="false">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="GELF"/>
        <appender-ref ref="Sentry"/>
    </logger>

    <!-- Enable the appenders, default WARN for the entire codebase-->
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="Sentry" />
        <appender-ref ref="GELF" />
    </root>

</configuration>